.user-list {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  /* align-items: center; */
  /* padding: 20px; */
}

.user-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;  
}

.user-item input {
  padding: 10px;
  border-radius: 10px;
}

.visible-user-buttons {
display: flex;
align-items: center;
justify-content: space-between;
}

.add-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 2px;
}

.remove-button,
.hide-button,
.unhide-button,
.clear-button,
.hidden-user {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.hidden-user {
  min-height: 40px;
  justify-content: space-between;
}

.add-button-container {
  display: flex;
  justify-content: flex-start;
}

.clear-button-container {
  margin-top: 30px;
  display: flex;
  justify-content: end; 
}

.clear-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 6px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h3 {
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer button {
  margin-left: 10px;
}

.confirm-button,
.cancel-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.confirm-button {
  background-color: green;
  color: white;
}

.cancel-button {
  background-color: red;
  color: white;
}

.user-list > h2 {
  margin: ;
  color: #f2f2f2;
}

.hidden-users > h3,
.hidden-user {
  color: #f2f2f2;
}
