@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

header {
  margin-top: 30px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  color: #fff;
  background: linear-gradient(45deg, #ff6a00, #ff6347);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 70%;
  margin: 0 auto;

  animation: headerAnimation 1.5s ease-out;
  transition: transform 0.2s ease-in-out;
}

@keyframes headerAnimation {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
